body {
  display: block;
}

.navbar {
  width: 100%;
  background: #25184d;
  position: absolute;
  height: 50px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
}
.container {
  margin-top: 100px;
  display: inline-block;
  width: 100%;
}
img {
  float: left;
  width: 180px;
  margin: 20px 40px 20px 80px;
}
.title_div {
  width: 60%;
  background: #25184d;
  color: white;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  padding: 0px 5px;
  margin-right: 150px;
  float: right;
}
form {
  clear: both;
  float: right;
  margin-right: 150px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  width: 61%;
  height: 300px;
  background-image: url('../img/undraw.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 300px 200px;
  
}

.form_control {
    display: inline-block;
  }
.form_input {
  display: inline-grid;
  margin: 0px 25px 20px;
}
input[type=text]{
    width: 300px;
    height: 40px;
    background-color: lightgray;
    border: 1px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    
}

.btn_div {
  display: block;
  float: right;
}
.btn{
    background-color: #25184d;
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 100px 0px 0px;
}
